<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Template!</title>
</head>
<body>
{{range .}}
    {{.}}
{{end}}

{{if .}}
    Users slice exist
    {{.}}
{{end}}

{{range .}}
    {{if .Name}}
        Name exist
        {{.Name}}
    {{end}}
{{end}}

{{range .}}
    {{if and .Name .Admin}}
        Name exist and Admin was true
        {{.Name}}
        {{.Admin}}
    {{end}}
{{end}}

</body>
</html>